ul li{
	list-style-type: none;
	font-size: x-small;
	

}

.footer{
	
	margin-top: 500px;
	display: flex;
	justify-content: flex-right;
	margin-left: 190px;

}

.col{

	width: 20%;
	height: 210px;
}

p
{
	background-color: black;
	height: 20px;
	width: 100%;
	color: white;
	margin-bottom: 20px;
}
